{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block main %}
<table width="" id="table_detail">
    <tbody>
        <tr><td rowspan="6" class="" style="text-align:center;"><a href="" rel="colorbox"><img src="{% static img %}" class="lazy" width="200"></a></td></tr>
        <tr><th class="" style="">ジャンル</th><td class="" style="background:#ffb6c1 !important;">{{ music_detail.genre }}</td></tr>
        <tr><th class="" style="">タイトル</th><td class="">{{ music_detail.title }}</td></tr>
        <tr><th class="" style="">アーティスト</th><td class="">{{ music_detail.artist }}</td></tr>
        <tr><th class="" style="">対戦相手</th><td class="">{{ music_detail.opponent }}</td></tr>
        <tr><th class="" style="">解禁方法</th><td class="">{{ music_detail.unlocked }}</td></tr>
    </tbody>
</table>
{% endblock %}